
.menu{
    display: flex;
    align-items: center;
    color: white;
    /* border: 2px solid rgb(255, 255, 255); */
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px 20px;
}

.menu h1{
    margin: 0;
    text-align: center;
}

.menuLinks {
    display: flex;
    justify-content: center;
    /* background-color: wheat; */
    width: 90%;
}
.menuLinks p{
    cursor: pointer;
    border-bottom: 1px solid rgb(0, 255, 255, 0.5) ;
    padding: 8px 15px;
    text-align: center;
    transition: 0.3s ease-in-out;
    margin: 0px 10px;
    font-weight: 600;
}
.link{
    color: inherit;
    text-decoration: inherit;
}
.menuLinks p:hover{
    letter-spacing: 3px;
}
.menuLinks p:active{
    letter-spacing: 1px;
}

.mobileIcons{
    display: none;
    /* border: 2px solid green; */
}

.mobileIcons svg{
    width: 30px;
    height: 30px;
}
@media screen and (max-width: 990px) {
    .menuContainer{
        left: -90%;
        width: 100%;
    }
    .menuLinks{
        display: flex;
        flex-direction: column;
        margin: 0;
        align-items: center;
        justify-content: flex-start;
        position: absolute;
        z-index: 2;
        top: 78px;
        right: -800px;
        width: 180px;
        height: 400px;
        padding: 20px 20px;
        background-color: rgba(0, 0, 0, 0.7);
    }


    .mobileIcons{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-left: auto;
        margin-right: 10px;
    }

    .visibleNav{
        /* border: 2px solid yellow; */
        right: -5px;
    }
    
}